body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.intro{
    display: flex;
    color: white;
    font-weight: lighter;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)), url(home-img.jpeg);
    background-size: cover;
    justify-content: left;
    align-items: center;
}
.typing{
    position: relative;
    margin-left: 10px;
}
.typing::after{
    content: "";
    position: relative;
    right: -5px;
    width: 2px;
    height: 80%;
    border-right: 3px solid white;
    animation: blink 1s infinite ease;
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}